<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Comparação de aparelhos</title>
</h:head>

<h:body>

	<h:form>
		<p:growl id="msg" />

		<div id="header">
			<ui:insert name="header">
				<!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>


		<div id="content">
			<ui:insert name="content">

				<h3 style="text-align: center">
					<p:outputLabel value="Comparação de aparelhos" />
				</h3>

				<p:dataTable var="car" value="#{dtScrollView.cars5}"
					scrollable="true" scrollHeight="150" scrollWidth="1000"
					frozenColumns="1">
					<p:column headerText="Id" footerText="Id">
						<h:outputText value="#{car.id}" />
					</p:column>
					<p:column headerText="Year" footerText="Year">
						<h:outputText value="#{car.year}" />
					</p:column>
					<p:column headerText="Brand" footerText="Brand">
						<h:outputText value="#{car.brand}" />
					</p:column>
					<p:column headerText="Color" footerText="Color">
						<h:outputText value="#{car.color}" />
					</p:column>
				</p:dataTable>
			</ui:insert>
		</div>

		<div id="footer">
			<ui:insert name="footer">
				<!--  include your header file or uncomment the include below and create footer.xhtml in this directory -->
				<!--<ui:include src="footer.xhtml"/>  -->
			</ui:insert>
		</div>
	</h:form>

</h:body>
</html>