<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Página inicial</title>
</h:head>

<h:body>

	<h:form>
		<p:growl id="msg" />

		<div id="header">
			<ui:insert name="header">
				<!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>


		<div id="content">
			<ui:insert name="content">
				<!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
				<!-- <div> -->
				<!-- <ui:include src="content.xhtml"/> -->
				<!-- </div> -->
			</ui:insert>
		</div>

		<div id="footer">
			<ui:insert name="footer">
				<!--  include your header file or uncomment the include below and create footer.xhtml in this directory -->
				<!--<ui:include src="footer.xhtml"/>  -->
			</ui:insert>
		</div>
	</h:form>

</h:body>
</html>