<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Funcionalidades</title>
</h:head>

<h:body>

	<h:form>
		<p:growl id="msg" />

		<div id="header">
			<ui:insert name="header">
				<!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>


		<div id="content">
			<ui:insert name="content">
				<h3 style="text-align: center">
					<p:outputLabel value="Funcionalidades" />
				</h3>

				<p:growl id="msgs" showDetail="true" />

				<p:fieldset legend="Cadastro" style="margin-bottom:20px">
					<div class="ui-g ui-fluid">
						<div class="ui-g-12 ui-md-4">
							<div class="ui-inputgroup">
								<span class="ui-inputgroup-addon"><i class="fa fa-gear"></i></span>
								<p:inputText placeholder="Nome da funcionalidade" />
							</div>
						</div>

						<div class="ui-g-12 ui-md-4">
							<div class="ui-inputgroup">
								<p:commandButton value="Inserir funcionalidade"
									icon="fa fa-check" />
							</div>
						</div>
					</div>
				</p:fieldset>

				<p:fieldset legend="Funcionalidades cadastradas" toggleable="true"
					toggleSpeed="500">
					<p:ajax event="toggle" listener="#{fieldsetView.handleToggle}"
						update="msgs" />
					<p:dataTable var="funcionalidade"
						value="#{dtBasicView.funcionalidades}"
						emptyMessage="Não foram encontrados registros de funcionalidades.">
						<p:column headerText="Código" visible="false">
							<h:outputText value="#{funcionalidade.codigo}" />
						</p:column>

						<p:column headerText="Nome da funcionalidade">
							<h:outputText value="#{funcionalidade.nome}" />
						</p:column>

						<p:column headerText="Ações">
							<p:commandButton value="Editar" incon="fa fa-pencil" />
							<p:commandButton value="Excluir" icon="fa fa-close" />
						</p:column>
					</p:dataTable>
				</p:fieldset>

			</ui:insert>
		</div>

		<div id="footer">
			<ui:insert name="footer">
				<!--  include your header file or uncomment the include below and create footer.xhtml in this directory -->
				<!--<ui:include src="footer.xhtml"/>  -->
			</ui:insert>
		</div>
	</h:form>

</h:body>
</html>