<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>

	<h:form>
		<p:growl id="msg" />

		<p:menubar>

			<p:menuitem value="Início" url="../index.xhtml" icon="ui-icon-home" />

			<p:submenu label="Cadastro" icon="ui-icon-document">
				<p:menuitem value="Fabricantes" url="fabricantes.xhtml" />
				<p:menuitem value="Funcionalidades" url="funcionalidades.xhtml" />
				<p:separator />
				<p:submenu label="Modelos">
					<p:menuitem value="Consulta" url="../consulta/modelos.xhtml" />
					<p:menuitem value="Edição" url="modelos.xhtml" />
				</p:submenu>
			</p:submenu>

			<p:menuitem value="Comparação de aparelhos" url="../comparacao.xhtml" />

			<f:facet name="options">
				<p:inputText style="margin-right:10px" placeholder="Buscar" />
				<p:commandButton type="button" value="Logout" icon="ui-icon-extlink" />
			</f:facet>
		</p:menubar>
	</h:form>

</h:body>

</html>